<div class="chart position-relative mb-3 mt-3">
  <div class="title position-absolute">總支出</div>
  <div class="total-amount position-absolute">{{ totalAmount }}</div>
  <canvas id="myChart"></canvas>
</div>