<header>
  <nav class="navbar navbar-dark bg-dark justify-content-between" style="padding: 8px 16px;">
    <a class="navbar-brand" href="/">Amy's 記帳本</a>
    
    {{!-- <a href="/users/logout" class="btn btn-outline-light">Logout</a>
    
    <a href="/users/login" class="btn btn-outline-light">Login</a> --}}
    
  </nav>
</header>