<div class="expense-container mt-3 px-5">
  <div class="expense-link">
    <a href="/" class="lastpage-btn mt-4">
      <i class="fa-solid fa-angle-left"></i>
    </a>
    <h2 class="pb-4 mt-4">請修改支出</h2>
    <a href="/users/logout" class="logout-btn mt-4">
      <i class="fa-solid fa-right-from-bracket"></i>
    </a>
  </div>
  {{!-- expense form --}}
  <div class="form-container px-5 mt-4">
    <form id="form" action="/expenses/{{record._id}}?_method=PUT" method="POST" novalidate>
      <div class="form-item">
        <i class="fa-solid fa-cart-shopping"></i>
        <input id="name" type="text" name="name" placeholder="請輸入名稱" value="{{ record.name }}" required>
      </div>
      <div class="form-item">
        <i class="fa-solid fa-calendar-days"></i>
        <input id="date" type="date" name="date" value="{{ recordDate }}" required>
      </div>
      <div class="form-item">
        <select onchange="this.form.submit()" name="category" class="form-select-lg form-select"
        aria-label=".form-select-lg example">
          <option value="all" selected>全部</option>
          <option {{#is keySelected '家居物業' }} selected {{/is}}>家居物業</option>
          <option {{#is keySelected '交通出行' }} selected {{/is}}>交通出行</option>
          <option {{#is keySelected '休閒娛樂' }} selected {{/is}}>休閒娛樂</option>
          <option {{#is keySelected '餐飲食品' }} selected {{/is}}>餐飲食品</option>
          <option {{#is keySelected '其他' }} selected {{/is}}>其他</option>
        </select>
      </div>
      <div class="form-item">
        <i class="fa-solid fa-dollar-sign"></i>
        <input id="amount" type="number" name="amount" placeholder="請輸入金額" value="{{record.amount}}" required>
      </div>
      <div class="form-item text-center">
        <button id="submit-button" class="btn btn-primary" type="submit" style="background-color: #8DCBE6;">確認</button>
      </div>
    </form>
  </div>
</div>