<div class="expense-container mt-4">
  <h1 class="pb-4">請修改支出</h1>
  {{!-- expense form --}}
  <div class="form-container">
    <form id="form" action="/expenses/{{record._id}}?_method=PUT" method="POST" novalidate>
      <div class="form-item">
        <i class="fa-solid fa-cart-shopping"></i>
        <input id="name" type="text" name="name" placeholder="請輸入名稱" value="{{ record.name }}" required>
        <div class="valid-feedback">
          輸入完成
        </div>
        <div class="invalid-feedback">
          請輸入餐廳電話!
        </div>
      </div>
      <div class="form-item">
        <i class="fa-solid fa-calendar-days"></i>
        <input id="date" type="date" name="date" value="{{record.date}}" required>
        <div class="valid-feedback">
          輸入完成
        </div>
        <div class="invalid-feedback">
          請輸入餐廳電話!
        </div>
      </div>
      <div class="form-item">
        <i class="fa-solid fa-dollar-sign"></i>
        <input id="amount" type="number" name="amount" placeholder="請輸入金額" value="{{record.amount}}" required>
        <div class="valid-feedback">
          輸入完成
        </div>
        <div class="invalid-feedback">
          請輸入餐廳電話!
        </div>
      </div>
      <div class="form-item">
        <select id="category" name="category" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" required>
          <option selected>類別</option>
          <option value="life" {{#if life}} selected {{/if}}>家居物業</option>
          <option value="traffic" {{#if traffic}} selected {{/if}}>交通出行</option>
          <option value="recreation" {{#if recreation}} selected {{/if}}>休閒娛樂</option>
          <option value="food" {{#if food}} selected {{/if}}>餐飲食品</option>
          <option value="other" {{#if other}} selected {{/if}}>其他</option>
        </select>
        <div class="valid-feedback">
          輸入完成
        </div>
        <div class="invalid-feedback">
          請輸入餐廳電話!
        </div>
      </div>
      <div class="form-item text-center">
        <button id="submit-button" class="btn btn-primary" type="submit">送出</button>
      </div>
    </form>
  </div>
</div>