<div class="login-container mt-4">
  <div class="image-container">
    <div class="image"></div>
  </div>
  <div class="signup__form signup__center">
    <h4 class="signup__title">Sign in</h4>
    <p class="signup__para signup__para--sm">You can sign in with Facebook or Google</p>
    <div class="social-btns">
      <a href="/auth/facebook" class="social-btns__item">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="#!" class="social-btns__item">
        <i class="fab fa-google-plus-g"></i>
      </a>
    </div>
    <form action="/users/login" method="POST" class="form">
      <p class="signup__para signup__para--sm or-line">or</p>
      <div class="input_group form__item">
        <i class="far fa-envelope"></i>
        <input name="email" type="email" placeholder="Email">
      </div>
      <div class="input_group form__item">
        <i class="fas fa-unlock-alt"></i>
        <input name="password" type="password" placeholder="Password">
      </div>
      <div class="input_group form__item form__item--center">
        <input class="btn btn--primary" type="submit" value="SIGN IN">
      </div>
    </form>
    <div class="option">
      <span class="question">Need an account?<a class="change-link" href="/users/signup">Sign up</a></span>
    </div>
  </div>
  <div class="footer">
    <p class="para">Copyright@2023 by Amy Ke</p>
  </div>
</div>